nav {
    background-color: bisque;
    padding: 1rem;
  }
nav ul li {
    display: inline;
    margin-right: 1rem;
  }
  
  nav ul li a {
    text-decoration: initial;
    color: black;
    font-weight: bold;
  }
  nav ul li a:hover {
    color: rgba(240, 100, 25, 0.927);
    font-size: 1.2rem;
  }

  figure img {
    opacity: 0.8;
    border-radius: 50%;
  }
table, tr, th, td, caption {
  background-color: bisque;
    border: 1px, solid black;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
  }
  body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    animation: slideshow 12s infinite;
  }
  @keyframes slideshow {
    0% { background-image: url(img/Delicious\ Pizza.jpg); }
    33% { background-image: url(img/pizza1.jpg); }
    66% { background-image: url(img/pizza2.jpg); }
    100% { background-image: url(img/pizza3.jpg); }
  }
  #about{
    background-color: bisque;
    padding: 1rem;
    margin: 1rem;
    border-radius: 10px;
  }
